networks:
  default:
    driver: bridge
    name: roboshop
    #external: true # I created a network already using docekr network create roboshop , so external is ture . otjer wise mention the network which you want create same as above 

    # creating volumes for mount the container . Database are statuful so, storing the data into volumes.
volumes:
  mongodb:
  mysql:
  redis:
  rabbitmq: 


services:
  mongodb:
    image: vinod9072/mongodb:v1 
    container_name: mongodb
    volumes:
     - mongodb:/data/db

  catalogue:
    image: vinod9072/catalogue:v1
    container_name: catalogue
    depends_on:
      - mongodb

  redis:
    image: redis:7.0
    container_name: redis
    volumes:
    - redis:/data
  
  user:
    image: vinod9072/user:v1
    container_name: user
    depends_on:
      - redis
      - mongodb

  cart:
    image: vinod9072/cart:v1
    container_name: cart
    depends_on:
      - catalogue
      - redis

  mysql:
    image: vinod9072/mysql:v1
    container_name: mysql 
    #environment:
      #MYSQL_ROOT_PASSWORD: RoboShop@1 
    volumes:
    - mysql:/var/lib/mysql
  
  shipping:
    image: vinod9072/shipping:v1
    container_name: shipping
    depends_on:
      - mysql
      - cart

  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
    volumes:
    - rabbitmq:/var/lib/rabbitmq

  payment:
    image: vinod9072/payment:v1
    container_name: payment
    environment:
      CART_HOST: cart
      CART_PORT: 8080
      USER_HOST: user
      USER_PORT: 8080
      AMQP_HOST: rabbitmq
      AMQP_USER: roboshop
      AMQP_PASS: roboshop123
    depends_on:
      - cart
      - user
      - rabbitmq
  frontend:
    image: vinod9072/frontend:v1 
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - catalogue
      - cart
      - user
      - shipping
      - payment